body
{
	padding: 0;
	margin: 0;
	background-color:#CCCCFF;
}

h1{
	text-align:center;
	position:relative;
}

nav
{
	background-color:black;
	color:#FFCCCC;
	font-weight:900;
}

.feed >li >a{
    color:black;
    font-weight:700;
    background-color:white;
}
